openapi: 3.0.0
info:
  title: Trello REST API
  version: 0.0.1
  description: >-
    This document contains information about how to authenticate with the Trello
    API.
servers:
  - url: 'https://api.trello.com/1'
components:
  securitySchemes:
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
  schemas: {}
security:
  - APIKey: []
    APIToken: []
paths:
  '/actions/{id}/board':
    get:
      description: Get the Board for an Action
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
  '/actions/{id}/card':
    get:
      description: Get the card for an action
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
  '/actions/{id}/list':
    get:
      description: Get the List for an Action
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrelloList'
  '/actions/{id}/member':
    get:
      description: Gets the member of an action (not the creator)
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
  '/actions/{id}/memberCreator':
    get:
      description: Get the Member who created the Action
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
  '/boards/{id}/memberships':
    get:
      description: Get information about the memberships users have to the board.
      parameters:
        - id
        - filter
        - activity
        - orgMemberType
        - member
        - member_fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memberships'
  '/boards/{id}':
    get:
      description: Request a single board.
      parameters:
        - actions
        - boardStars
        - cards
        - card_pluginData
        - checklists
        - customFields
        - fields
        - labels
        - lists
        - members
        - memberships
        - pluginData
        - organization
        - organization_pluginData
        - myPrefs
        - tags
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/boards/{id}/{field}':
    get:
      description: 'Get a single, specific field on a board'
      parameters:
        - id
        - field
      responses:
        '200':
          description: Success
  '/boards/{boardId}/actions':
    get:
      description: >-
        Get all of the actions of a Board. See [Nested
        Resources](/cloud/trello/guides/rest-api/nested-resources/) for more
        information.
      parameters:
        - boardId
        - fields
        - filter
        - format
        - idModels
        - limit
        - member
        - member_fields
        - memberCreator
        - memberCreator_fields
        - page
        - reactions
        - before
        - since
      responses:
        '200':
          description: Success
  '/boards/{boardId}/boardStars':
    get:
      description: ''
      parameters:
        - boardId
        - filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/BoardStars'
  '/boards/{id}/checklists':
    get:
      description: Get all of the checklists on a Board.
      parameters:
        - id
      responses:
        '200':
          description: Success
  '/boards/{id}/cards':
    get:
      description: >-
        Get all of the open Cards on a Board. See [Nested
        Resources](/cloud/trello/guides/rest-api/nested-resources/) for more
        information.
      parameters:
        - id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
              examples:
                sample:
                  summary: Example response
                  value:
                    - id: "card_id_123"
                      badges:
                        attachments: 0
                        fogbugz: ""
                        checkItems: 0
                        checkItemsChecked: 0
                        checkItemsEarliestDue: null
                        comments: 0
                        description: false
                        due: null
                        dueComplete: false
                        lastUpdatedByAi: false
                        start: null
                        externalSource: null
                        attachmentsByType:
                          trello:
                            board: 0
                            card: 0
                        location: false
                        votes: 0
                        maliciousAttachments: 0
                        viewingMemberVoted: false
                        subscribed: false
                      checkItemStates: []
                      closed: false
                      dueComplete: false
                      dateLastActivity: "2025-06-06T06:08:05.912Z"
                      desc: ""
                      descData:
                        emoji: {}
                      due: null
                      dueReminder: null
                      email: null
                      idBoard: "board_id_456"
                      idChecklists: []
                      idList: "list_id_789"
                      idMembers: []
                      idMembersVoted: []
                      idShort: 1
                      idAttachmentCover: null
                      labels: []
                      idLabels: []
                      manualCoverAttachment: false
                      name: "Card Name"
                      nodeId: "node_id_abc"
                      pinned: false
                      pos: 140737488355328
                      shortLink: "short_link_xyz"
                      shortUrl: "https://trello.com/c/short_link_xyz"
                      start: null
                      subscribed: false
                      url: "https://trello.com/c/short_link_xyz/1-card-name"
                      cover:
                        idAttachment: null
                        color: null
                        idUploadedBackground: null
                        size: "normal"
                        brightness: "dark"
                        idPlugin: null
                      isTemplate: false
                      cardRole: null
                      mirrorSourceId: null
  '/boards/{id}/cards/{filter}':
    get:
      description: >-
        Get the Cards on a Board that match a given filter. See [Nested
        Resources](/cloud/trello/guides/rest-api/nested-resources/) for more
        information.
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
  '/boards/{id}/customFields':
    get:
      description: Get the Custom Field Definitions that exist on a board.
      parameters:
        - id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomField'
  '/boards/{id}/labels':
    get:
      description: Get all of the Labels on a Board.
      parameters:
        - id
        - fields
        - limit
      responses:
        '200':
          description: Success
  '/boards/{id}/lists':
    get:
      description: Get the Lists on a Board
      parameters:
        - cards
        - card_fields
        - filter
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrelloList'
  '/boards/{id}/lists/{filter}':
    get:
      description: ''
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
  '/boards/{id}/members':
    get:
      description: Get the Members for a board
      responses:
        '200':
          description: Success
  '/boards/{id}/boardPlugins':
    get:
      description: Get the enabled Power-Ups on a board
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plugin'
  '/boards/{id}/plugins':
    get:
      description: List the Power-Ups on a board
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  '/cards/{id}':
    get:
      description: Get a card by its ID
      parameters:
        - fields
        - actions
        - attachments
        - attachment_fields
        - members
        - member_fields
        - membersVoted
        - memberVoted_fields
        - checkItemStates
        - checklists
        - checklist_fields
        - board
        - board_fields
        - list
        - pluginData
        - stickers
        - sticker_fields
        - customFieldItems
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
  '/cards/{id}/{field}':
    get:
      description: Get a specific property of a card
      parameters:
        - id
        - field
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
  '/cards/{id}/actions':
    get:
      description: >-
        List the Actions on a Card. See [Nested
        Resources](/cloud/trello/guides/rest-api/nested-resources/) for more
        information.
      parameters:
        - id
        - filter
        - page
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Action'
  '/cards/{id}/attachments':
    get:
      description: List the attachments on a card
      parameters:
        - fields
        - filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Attachment'
  '/cards/{id}/attachments/{idAttachment}':
    get:
      description: Get a specific Attachment on a Card.
      parameters:
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Attachment'
  '/cards/{id}/board':
    get:
      description: Get the board a card is on
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/checkItemStates':
    get:
      description: Get the completed checklist items on a card
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/checklists':
    get:
      description: Get the checklists on a card
      parameters:
        - id
        - checkItems
        - checkItem_fields
        - filter
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/checkItem/{idCheckItem}':
    get:
      description: Get a specific checkItem on a card
      parameters:
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/list':
    get:
      description: Get the list a card is in
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/members':
    get:
      description: Get the members on a card
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/membersVoted':
    get:
      description: Get the members who have voted on a card
      parameters:
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/pluginData':
    get:
      description: Get any shared pluginData on a card.
      parameters:
        - id
      responses:
        '200':
          description: Success
  '/cards/{id}/stickers':
    get:
      description: Get the stickers on a card
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/stickers/{idSticker}':
    get:
      description: Get a specific sticker on a card
      parameters:
        - fields
      responses:
        '200':
          description: Success
  '/cards/{id}/customFieldItems':
    get:
      description: Get the custom field items for a card.
      parameters:
        - id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldItems'
  '/checklists/{id}':
    get:
      description: ''
      parameters:
        - cards
        - checkItems
        - checkItem_fields
        - fields
      responses:
        '200':
          description: Success
  '/checklists/{id}/{field}':
    get:
      description: ''
      responses:
        '200':
          description: Success
  '/checklists/{id}/board':
    get:
      description: ''
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/checklists/{id}/cards':
    get:
      description: ''
      parameters:
        - id
      responses:
        '200':
          description: Success
  '/checklists/{id}/checkItems':
    get:
      description: ''
      parameters:
        - filter
        - fields
      responses:
        '200':
          description: Success
  '/checklists/{id}/checkItems/{idCheckItem}':
    get:
      description: ''
      parameters:
        - fields
      responses:
        '200':
          description: Success
  '/enterprises/{id}/members/query':
    get:
      description: >-
        Get an enterprise's users. You can choose to retrieve licensed members,
        board guests, etc.
      parameters:
        - id
        - licensed
        - deactivated
        - collaborator
        - managed
        - admin
        - activeSince
        - inactiveSince
        - search
        - startIndex
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
  '/enterprises/{id}/members':
    get:
      description: Get the members of an enterprise.
      parameters:
        - id
        - fields
        - filter
        - sort
        - sortBy
        - sortOrder
        - startIndex
        - count
        - organization_fields
        - board_fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
  '/enterprises/{id}/members/{idMember}':
    get:
      description: Get a specific member of an enterprise by ID.
      parameters:
        - id
        - idMember
        - fields
        - organization_fields
        - board_fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/lists/{id}':
    get:
      description: Get information about a List
      parameters:
        - fields
      responses:
        '200':
          description: Success
  '/lists/{id}/actions':
    get:
      description: Get the Actions on a List
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
  '/lists/{id}/board':
    get:
      description: Get the board a list is on
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
  '/lists/{id}/cards':
    get:
      description: List the cards in a list
      parameters:
        - id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
  '/members/{id}':
    get:
      description: Get a member
      parameters:
        - id
        - actions
        - boards
        - boardBackgrounds
        - boardsInvited
        - boardsInvited_fields
        - boardStars
        - cards
        - customBoardBackgrounds
        - customEmoji
        - customStickers
        - fields
        - notifications
        - organizations
        - organization_fields
        - organization_paid_account
        - organizationsInvited
        - organizationsInvited_fields
        - paid_account
        - savedSearches
        - tokens
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Member'
  '/members/{id}/{field}':
    get:
      description: Get a particular property of a member
      parameters:
        - id
        - field
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Member'
  '/members/{id}/actions':
    get:
      description: List the actions for a member
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Member'
  '/members/{id}/boardBackgrounds':
    get:
      description: Get a member's custom board backgrounds
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/BoardBackground'
  '/members/{id}/boardBackgrounds/{idBackground}':
    get:
      description: Get a member's board background
      parameters:
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
  '/members/{id}/boardStars':
    get:
      description: List a member's board stars
      parameters:
        - id
      responses:
        '200':
          description: Success
  '/members/{id}/boardStars/{idStar}':
    get:
      description: Get a specific boardStar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardStars'
  '/members/{id}/boards':
    get:
      description: Lists the boards that the user is a member of.
      parameters:
        - id
        - filter
        - fields
        - lists
        - organization
        - organization_fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board'
              examples:
                sample:
                  summary: Example response
                  value:
                    - id: "exampleBoardId"
                      nodeId: "ari:cloud:trello::board/workspace/exampleOrgId/exampleBoardId"
                      name: "Example Board Name"
                      desc: ""
                      descData: null
                      closed: false
                      dateClosed: null
                      idOrganization: "exampleOrgId"
                      idEnterprise: null
                      pinned: false
                      starred: false
                      url: "https://trello.com/b/exampleShortLink/example-board-name"
                      shortLink: "exampleShortLink"
                      subscribed: false
                      labelNames:
                        green: ""
                        yellow: ""
                        orange: ""
                      powerUps: []
                      dateLastActivity: "2025-03-26T12:04:13.067Z"
                      dateLastView: "2025-06-06T06:07:13.134Z"
                      shortUrl: "https://trello.com/b/exampleShortLink"
                      idTags: []
                      datePluginDisable: null
                      creationMethod: null
                      ixUpdate: "1"
                      templateGallery: null
                      enterpriseOwned: false
                      idBoardSource: null
                      premiumFeatures:
                        - "additionalBoardBackgrounds"
                        - "additionalStickers"
                        - "customBoardBackgrounds"
                        - "customEmoji"
                        - "customStickers"
                        - "plugins"
                      idMemberCreator: "exampleMemberId"
                      type: null
                      memberships:
                        - id: "exampleMembershipId"
                          idMember: "exampleMemberId"
                          memberType: "admin"
                          unconfirmed: false
                          deactivated: false
  '/members/{id}/boardsInvited':
    get:
      description: Get the boards the member has been invited to
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board'
  '/members/{id}/cards':
    get:
      description: Gets the cards a member is on
      parameters:
        - id
        - filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
  '/members/{id}/customBoardBackgrounds':
    get:
      description: Get a member's custom board backgrounds
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoardBackground'
  '/members/{id}/customBoardBackgrounds/{idBackground}':
    get:
      description: Get a specific custom board background
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
  '/members/{id}/customEmoji':
    get:
      description: Get a Member's uploaded custom Emojis
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomEmoji'
  '/members/{id}/customEmoji/{idEmoji}':
    get:
      description: Get a Member's custom Emoji
      parameters:
        - id
        - idEmoji
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmoji'
  '/members/{id}/customStickers':
    get:
      description: Get a Member's uploaded stickers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSticker'
  '/members/{id}/customStickers/{idSticker}':
    get:
      description: Get a Member's custom Sticker
      parameters:
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSticker'
  '/members/{id}/notifications':
    get:
      description: Get a member's notifications
      parameters:
        - id
        - entities
        - display
        - filter
        - read_filter
        - fields
        - limit
        - page
        - before
        - since
        - memberCreator
        - memberCreator_fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
  '/members/{id}/organizations':
    get:
      description: Get a member's Workspaces
      parameters:
        - id
        - filter
        - fields
        - paid_account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
  '/members/{id}/organizationsInvited':
    get:
      description: Get a member's Workspaces they have been invited to
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
  '/members/{id}/savedSearches':
    get:
      description: List the saved searches of a Member
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SavedSearch'
  '/members/{id}/savedSearches/{idSearch}':
    get:
      description: Get a saved search
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
  '/members/{id}/tokens':
    get:
      description: List a members app tokens
      parameters:
        - id
        - webhooks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  '/members/{id}/notificationsChannelSettings':
    get:
      description: Get a member's notification channel settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationChannelSettings'
  '/members/{id}/notificationsChannelSettings/{channel}':
    get:
      description: Get blocked notification keys of Member on a specific channel
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelSettings'
  '/notifications/{id}/board':
    get:
      description: Get the board a notification is associated with
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Board'
  '/notifications/{id}/card':
    get:
      description: Get the card a notification is associated with
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Card'
  '/notifications/{id}/list':
    get:
      description: Get the list a notification is associated with
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TrelloList'
  '/notifications/{id}/member':
    get:
      description: Get the member (not the creator) a notification is about
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Member'
  '/notifications/{id}/memberCreator':
    get:
      description: Get the member who created the notification
      parameters:
        - id
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Member'
  '/organizations/{id}/boards':
    get:
      description: List the boards in a Workspace
      parameters:
        - id
        - filter
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Board'
  '/organizations/{id}/members':
    get:
      description: List the members in a Workspace
      parameters:
        - id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Member'
              examples:
                sample:
                  summary: Example response
                  value:
                    - id: "examplesaasID1"
                      fullName: "My full name"
                      username: "examplesaas1"
                      lastActive: "2025-04-06T08:37:21.065Z"
  '/organizations/{id}/memberships':
    get:
      description: List the memberships of a Workspace
      parameters:
        - id
        - filter
        - member
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Memberships'
  '/organizations/{id}/memberships/{idMembership}':
    get:
      description: Get a single Membership for an Organization
      parameters:
        - id
        - idMembership
        - member
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Memberships'
  '/organizations/{id}/newBillableGuests/{idBoard}':
    get:
      description: Used to check whether the given board has new billable guests on it.
      parameters:
        - id
        - idBoard
      responses:
        '200':
          description: Success
  '/plugins/{id}/compliance/memberPrivacy':
    get:
      description: ''
      parameters:
        - id
      responses:
        '200':
          description: Success
  /search/members/:
    get:
      description: Search for Trello members.
      parameters:
        - query
        - limit
        - idBoard
        - idOrganization
        - onlyOrgMembers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
  '/tokens/{token}/member':
    get:
      description: Retrieve information about a token's owner by token.
      parameters:
        - token
        - fields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
